.nav-phone {
	display: block;
	margin: 0;
	margin-bottom: 3px;

	@include font-size(15);
	line-height: 25px;

	color: $green-light;
}
.nav-phone a {
	color: $green-light;
}
.nav-phone span {
	display: none; // Don't show the icon before 360px (below), since it can't fit!
}

.block .nav-phone {
	display: none;
}

@media all and (min-width: 360px) {
	.nav-phone {
		display: flex;
		align-items: center;
	}
	.nav-phone span {
		display: block;
		margin-right: 15px;
		@include font-size(17);
	}
}

@include bp(md) {
	.site-header .nav-phone {
		display: none;
	}
}

@include bp(xl) {
	.block .nav-phone {
		display: flex;
	}
	.section--grid .nav-phone {
		position: absolute;
		top: 65px;
		right: 40px;
		@include font-size(19);
	}
}
