/*-----------------------------------*\
Landing
\*-----------------------------------*/

.landing-header {
    position: relative;

    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;

    background-color: $white;

    border-bottom: 1px solid $grey-border;

    .header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        max-width: 1280px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 20px;
        @include bp(sm) {
            flex-direction: row;
        }
        @include bp(lg) {
            padding: 0 40px;
        }
    }

    .site-branding {
        margin: 20px 0;

        @include bp(sm) {
            margin: 0;
        }
    }

    svg {
        width: 214px;

        path {
            fill: $green;
        }
    }

    .navigation--main {
        margin-top: 0;
        margin-bottom: 20px;

        @include bp(sm) {
            margin-bottom: 0;
        }
    }

    @include bp(sm) {
        height: 80px;
    }

}

.section--landing-top {

    .block-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        max-width: 1280px;
        margin: 0 auto;
        width: 100%;
    }

    .block {
        position: relative;

        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0;

        color: $black;

        @include bp(lg) {
            flex-direction: row;
        }
    }

    .block__column {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;

        @include bp(lg) {
            padding: 0 40px;
        }
    }

    .faces {
        display: none;
        margin-bottom: -25%;

        svg {
            display: block;
            max-width: 500px;
            margin: 0 auto;
        }
        @include bp(md) {
            display: block;
        }

        @include bp(lg) {
            margin-bottom: -50%;
        }
    }
}

.section--landing-form {

    &.section--green {
        background-color: $green;

        .landing-form {
            background-color: $white;
        }
    }

    &.section--burj {
        padding-bottom: 0;
    }

    img {
        display: none;
        margin: 0;
        @include bp(md) {
            display: block;
        }
        @include bp(lg) {
            margin: -50% 0 ;
        }
    }

    p {
        color: $grey-premium;
    }

    .block {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0;

        color: $black;

        @include bp(lg) {
            flex-direction: row;
        }
    }

    .button--red {
        background-color: $landing-form;
        border-color: $landing-form;
    }

    .block__column {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;

        @include bp(md) {
            flex: 1;
        }
        @include bp(lg) {
            padding: 0 40px;
        }
    }

    .landing-form {
        max-width: 400px;
        width: 100%;
        margin: 30px auto;

        color: $white;
        background-color: $grey-landing-bg;

        border-radius: 4px;

        overflow: hidden;

        .form__header {
            display: block;
            padding: 20px 0 ;

            text-align: center;

            background-color: $landing-form;
        }

        .form__body {
            padding: 30px 40px;

            .button-group {
                margin-bottom: 10px;
            }

            .input {
                width: 100%;
                padding: 0px 20px;

                line-height: 45px;

                border: 2px solid $grey-landing-border;
                border-radius: 3px;
            }

            button {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: 10px;
            }
        }
    }
}

.section {
    &--blue {
        .block {
            color: $white;
        }
    }
}

.site-footer {
    padding-top: 40px;

    @include bp(lg) {
        padding-top: 60px;
    }
}
